@tailwind base;
@tailwind components;
@tailwind utilities;


.card{
 margin: 5px;
}
.card:hover{
  background-color: maroon;
  color: white;
  cursor: pointer;
}
/* header */
.header{
  position:fixed;
  top: 0px;
  background-color: blue;
  height: 10vh;
  color: white;
}
.login_signup{
  position: absolute;
  top: 5px;
  left: 40vw;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.chatbot{
  position: relative;
  top: 20px;
  left: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.toogler{
  position: fixed;
  top: -2px;
  left: 90vw;
}